div.songkick-events .profile-title, .pagination {
    margin-top: 8px; 
    margin-bottom: 10px; 
    float: right;
}

div.songkick-events .powered-by {
    margin: 0px;
}

div.songkick-events .powered-by img {
    margin: 0px;
    border: 0px;
}

div.songkick-events .event-name {
    display:block;
    margin-left:44px;
}

div.songkick-events ul {
    border-bottom:1px solid #CCCCCC;
    margin-bottom:5px;
    margin-top: 10px;
    margin-left: 0px;
    list-style:none outside none;
}

div.songkick-events li {
    margin-bottom: 10px;
}

div.songkick-events .pagination {
    width: auto;
}

div.songkick-event .event-name {
    display:block;
    margin-left:44px;
    font-size: 1.2em;
    font-weight: bold;
}

div.songkick-event .venue,
div.songkick-event .line-up {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    width: 140px;
}

div.songkick-event .venue h4,
div.songkick-event .line-up h4 {
    margin: 0 !important;
    padding: 0 !important;
}

div.songkick-event .line-up ul {
    margin: 12px 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    text-decoration: none;
    background-repeat: no-repeat;
}

div.songkick-event .line-up  li.headline {
    font-weight: bold;
}